body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: #695b2e !important;
		}
		.user_card {
			height: 450px;
			width: 350px;
			margin-top: 150px;
			margin-bottom: auto;
			background: #dbaf1c;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}
		.brand_logo_container {
			position: absolute;
			height: 140px;
			width: 140px;
			top: -75px;
			border-radius: 50%;
			background: #000000;
			padding: 10px;
			text-align: center;
		}
		.brand_logo {
			height: 120px;
			width: 120px;
			border-radius: 50%;
			border: 2px solid white;
		}
		.form_container {
			margin-top: 100px;
		}

		.login_container {
			padding: 0 2rem;
    }
    .text-center text-info{
    }
		.input-group-text {
			background: #c0392b !important;
			color: rgb(0, 0, 0) !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none;
			outline: 0px;
			
    }
    .login_btn {
	width: 80%;
			background: #c0392b !important;
      color: rgb(0, 0, 0);
	}
	
    .toshop {

      display: flex;

      justify-content: center;
      align-items: center;
      width: 20%;
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 1.5rem;
      min-height: 35px;
      background-color: transparent;
      border: 1px solid;
      border-radius: 10px;
      color: rgb(255, 255, 255);
  }
    .toshop:hover {
      background:#57450b
    }
    .login_btn:hover {
      background: #751111 !important;
    }
		.login_btn:focus {
		box-shadow: none !important;
		outline: 0px;
    }
    .login_container {
		padding: 0 2rem;
		}
    .text-virsuj{
      color: rgb(105, 75, 10);
      height: 40px;
      font-size: 30px;
	  text-align: center;
    }
	.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
		background-color: #c0392b;
	}